<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9846534929C48CF300400CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98A305F4298CF68D00D669B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98A305FC298CF68D00D669B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98C609942998CD8300471696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D28E5329CB041500E4BB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D28E5A29CB041500E4BB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
